.grid-container {
  display: grid;
  text-align: center;
  background-color: rgba(33, 243, 156, 0.829);
  }
h{
  text-align: center;
  background-color: rgba(72, 23, 117, 0.829);
  border-radius: .50rem;
}
h1 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 1vw;
    width: 10vw;
    background: linear-gradient(  60deg,
        hsl(0, 75%, 50%) 10%,
        hsl(20, 75%, 50%) 10%,
        hsl(20, 75%, 50%) 25%,
        hsl(50, 75%, 50%) 25%,
        hsl(50, 75%, 50%) 40%,
        hsl(130, 75%, 50%) 40%,
        hsl(130, 75%, 50%) 55%,
        hsl(200, 75%, 50%) 55%,
        hsl(200, 75%, 50%) 70%,
        hsl(260, 75%, 50%) 70%,
        hsl(260, 75%, 50%) 85%,
        hsl(0, 75%, 50%) 85%
    );
    text-shadow: 0.5px -0.6vw #fff4;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 10s BeProud linear infinite,
    3s Always ease alternate infinite;
}

@keyframes BeProud {
    100% { background-position: 100vw 0px; }
}

@keyframes Always {
    100% { transform: scale(1.1);}
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.item1 {
  grid-column: span 3;
  grid-row: 1;
  display: flex;
  align-items: flex-end;
  background-color: rgba(105, 18, 155, 0.829);
}
.item2 {
  grid-column: 3;
  grid-row:span 10;
  background: #b43881;}
.item4 {
  grid-row:span 2 ;
  background-color: rgba(62, 233, 224, 0.699);
  z-index: 1;
 }
.button {
  border-radius: .50rem;
    background-color: rgb(105, 52, 155);
    border: none;
    color: white;
    padding: 16px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-right:60px;

}
.label
{display: block; 
margin: 12px; 
font-weight: bold; 
font-size: 20px; }
    .button1 {
    background-color: DodgerBlue;
    border: none;
    color: white;
    border-radius: .50rem;}
    .button1:hover {
    background-color: #ff00d4;
}
/* Darker background on mouse-over */
.button:hover {
    background-color: RoyalBlue;
}
a{
  border: 1px solid #ccc;
  margin-right:40px;
  border-radius: .50rem;
}
/*bouton spécial*/
.bouton3 {
  border-radius: .50rem;
  border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-right:40px;
    
background:linear-gradient(135deg, #4b29e0 0%,#f76b1c 100%);


}

.bouton3:hover{

animation:pulsation_bouton .8s ease-out

}

@keyframes pulsation_bouton {

from{
box-shadow:0 0 0 -3px hsla(0,0%,100%,0),0 0 0 0 hsl(44,66%,57%)

}
to{

box-shadow:0 0 0 10px hsla(0,0%,100%,0),0 0 0 13px hsla(0,0%,100%,0)}

}
.qty {
    width: 50px;
    height: 25px;
    text-align: center;
}
.result {
    width: 50px;
    height: 25px;
    border: 1px solid #ccc;
}
.space{
  display: flex;
  align-content: space-between;

}